@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete";
}
<header class="myMasthead">
    <section class="page-section">
        <div class="container">
            <div class="form-horizontal">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase mt-5">@ViewBag.Title?</h2>
                    <h3 class="section-subheading text-muted">Are you sure you want to delete the role of <strong>@Html.DisplayFor(model => model.Name)</strong>?</h3>
                    <br />
                </div>


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-10 offset-1 text-center">
                        <input type="submit" value="Delete" class="btn btn-primary btn-xl text-uppercase" />

                    </div>
                    <br />
                    <div class="myLinkTwo offset-1"> @Html.ActionLink("Back to List", "Index")</div>
                }
            </div>
        </div>
    </section>
</header>