@{
    ViewBag.Title = "Project Brief";
    ViewBag.SubTitle = "Reservation System";
}


<header class="myMasthead">
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase mt-5 text-center">@ViewBag.Title</h2>
                <h3 class="section-subheading text-muted">@ViewBag.SubTitle</h3>
            </div>
            <ul class="timeline">
                <li>
                    <a href="~/Content/assets/AriannaHarrisonDocumentation.pdf" target="_blank">
                        <div class="timeline-image">
                            <h4>
                                Download
                                <br />
                                Documentation
                                <br />
                            </h4>
                        </div>
                    </a>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>The</h4>
                            <h4 class="subheading">Purpose</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                Kansas City Softball Academy is a secure data-driven ASP.NET MVC application. Its purpose is to allow users or, in this case, coaches to register themselves and create assets or teams. Thusly, this website is a reservation system and clients may reserve a service on a certain date.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <a href="@Url.Action("Register", "Account")">
                        <div class="timeline-image">
                            <h4>
                                Test
                                <br />
                                Out
                                <br />
                                Registery
                            </h4>
                        </div>
                    </a>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Test</h4>
                            <h4 class="subheading">Reservation</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                Feel free to register and test out creating your own team! As well as, booking services at the provided locations. In which, you can view your own reservations. However, please remember this is NOT a real life academy to register an actual team, thank you!
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="@Url.Action("Contact", "Home")">
                        <div class="timeline-image">
                            <h4>
                                Contact
                                <br />
                                Developer
                                <br />
                            </h4>
                        </div>
                    </a>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Email</h4>
                            <h4 class="subheading">Arianna</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">This link shoots you straight to the contact page! Let me know any comments or questions. Or anything you wish to share, I am open to hearing anything on web development. I enjoy the experience I have so far encountered, therefore I am eager to enhance my learning as time passes on.</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <a href="http://a-harrison.com/" target="_blank">
                        <div class="timeline-image">
                            <h4>
                                My
                                <br />
                                Personal
                                <br />
                                Site
                            </h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</header>