
@{
    ViewBag.Title = "Project Brief";
}


<header class="myMasthead">
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase mt-5 text-center">@ViewBag.Title</h2>
                <h3 class="section-subheading text-muted">Reservation System</h3>

                <div>
                    <a href="#" target="_blank" class="btn btn-primary btn-xl text-uppercase myBtn2"><i class="fa fa-download" aria-hidden="true"></i> Download Documentation</a>
                </div>

                <div>
                    <br />
                </div>
                <div>
                    <br />
                </div>
                <div class="myBody">
                    Within the last few weeks of attending Centriq Training, I was introduced to the final project of creating my own website. Out of the options provided, the reservation system was my top choice. I had in mind what my website would consist of right off the bat. No pun intended, this reservation system conducts coaches to register themselves, as well as, their, in this case, softball team(s).
                    @*<div><br /></div>
                   There are three roles surrounding the website and splitting up capabilities that each user holds, from admin, employee, and to the customer role. Admin's authority is of the highest they have full CRUD over everything within the website, as the abilities lessen for the other two roles. One highlight for the customer is being able to create coaches and teams for as many as they may contain.
                    <div><br /></div>*@
                </div>
            </div>
        </div>
    </section>
</header>

