
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li class="dropdown nav-item">
            <a class=" dropdown-toggle nav-link" id="navbardropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <spam class="dropdown-menu nav-item" aria-labelledby="navbardropdown">
                <a class="dropdown-item">@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })</a>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log Off</a>
            </spam>
        </li>
    }
}
else
{

    <li class="dropdown nav-item">
        <a class=" dropdown-toggle nav-link" id="navbardropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
        </a>
        <spam class="dropdown-menu nav-item" aria-labelledby="navbardropdown">
            <a class="dropdown-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "dropdown-item" })</a>
            <a class="dropdown-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })</a>
        </spam>
    </li>
}

