@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<header class="myMasthead">
    <section class="page-section" id="">
        <div class="container">
            <h2 class="mt-5 text-center">@ViewBag.Title</h2>
            <div>
                <p class="text-center myBody">
                    Please check your email to reset your password.
                </p>
                <p class="text-danger text-center">
                    For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
                    Please change this code to register an email service in IdentityConfig to send an email.
                </p>
            </div>
        </div>
    </section>
</header>
